{% extends 'base.html.twig' %}

{% block title %}Новый автор{% endblock %}

{% block body %}
    <h1>Создать автора</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ path('author_index') }}" class="btn btn-secondary">Отмена</a>
    {{ form_end(form) }}
{% endblock %}

