{% extends 'base.html.twig' %}

{% block title %}Редактировать книгу{% endblock %}

{% block body %}
    <h1>Редактировать книгу</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.author) }}
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
        </div>

        <div class="form-group">
            {{ form_label(form.isbn) }}
            {{ form_widget(form.isbn) }}
            {{ form_errors(form.isbn) }}
        </div>

        <div class="form-group">
            {{ form_label(form.publishedYear) }}
            {{ form_widget(form.publishedYear) }}
            {{ form_errors(form.publishedYear) }}
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ path('book_index') }}" class="btn btn-secondary">Отмена</a>
    {{ form_end(form) }}
{% endblock %}

